body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  width: 800px;
  background-color: #f9f2f7;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
}

th {
  background-color: #ffffff;
  border: none !important;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  text-align: right;
  width: 75px;
  padding-right: 5px;
}

td {
  padding: 10px;
}

.appt-each {
  width: 300px;
  background-color: #ffffff;
  border-style: solid;
  border-left: solid #4169E1;
  border-bottom: none;
  border-right: none;
  border-top: none;
  margin-left:100px;
}

.color-spacing {
  width: 10px;
}

strong {
  color: #4169E1;
}

h2 {
  padding-top: 10px;
  margin-left: 10px;
}
